<.flash_group flash={@flash} />
<div class="p-4">
  <div class="flex w-full">
    <.link
      navigate={~p"/reports"}
      class="text-center flex items-center gap-4 flex-col rounded px-4 py-8 bg-orange text-white text-lg font-bold hover:bg-light-orange hover:text-orange hover:border hover:border-orange"
    >
      <.icon name="hero-document-chart-bar" />
      Your Reports
    </.link>
  </div>
</div>
