<%= if @report_group do %>
  <.header>
    <.report_breadcrumbs report={@report_group} />
    <:subtitle><%= @report_group.subtitle %></:subtitle>
  </.header>

  <.described_link navigate={~p"/reports/runs"} description={"Lists your previous report runs"} :if={@is_root}>
    Your Runs
  </.described_link>

  <%= if @user.portal_is_admin do %>
    <.described_link navigate={~p"/reports/all-runs"} description={"Lists all the report runs (because you are an admin)"} :if={@is_root}>
      All Runs
    </.described_link>
  <% end %>

  <.described_link navigate={report.path} description={report.subtitle} :for={report <- @report_group.children}>
    <%= report.title %>
    <span :if={report.tbd}>🚧🛠️</span>
  </.described_link>

<% else %>
  <.header>
    <.link navigate={@root_path} class="hover:underline">Reports</.link>
  </.header>
  <div class="mt-8 flex gap-4 flex-wrap" :if={!@report_group}>
    Sorry, no reports were found for that url.
  </div>
<% end %>
