@import "./vars.scss";

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: $cc-charcoal;
  background-color: $cc-teal;
  overflow-y: auto;
  user-select: text;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 40px 0;
  font-size: 16px;

  .content {
    background-color: white;
    min-height: 400px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 80px);

    .info {
      margin: 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .sub-info {
        margin-left: 20px;
      }
    }
  }
}
