@import "./vars.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: calc(100% - 80px);
  font-size: 24px;
  font-weight: bold;
  background-color: $cc-teal-light4;

  img {
    margin: 0 10px;
  }
}
