@import "./vars.scss";

.query-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
  border: solid 1px darkgray;
  border-radius: 2px;
  padding: 3px 6px;

  &:nth-child(odd) {
    background-color: white;
    border-top: none;
  }

  .info-container {
    overflow-wrap: break-word;
    width: 100%;
  }

  .item-info {
    margin: 5px 10px;
  }

  button {
    margin: 5px 10px;
  }
}
