@import "./vars.scss";

.query-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
  border: solid 1px darkgray;
  border-radius: 2px;
  padding: 3px 10px;

  &:nth-child(even) {
    background-color: white;
    border-top: none;
  }

  .item-info {
    margin: 5px 10px 5px 0;
  }

  button {
    flex-grow: 0;
    flex-shrink: 0;
    width: 125px;
  }
}
