<.header>
  <div>
    <.link navigate={~p"/new-reports"} class="hover:underline">Reports</.link>:
    <%= @title %>
  </div>
</.header>

<div class="mt-2 flex flex-col gap-2" :if={@report}>
  <div>Form goes here allowing filtering...</div>

  <div>
    <button class="p-2 bg-orange text-white rounded" phx-click="submit-form">Fake Submit</button>
  </div>

</div>

<div class="mt-2" :if={@results}>
  <%= @results %>
</div>
