{
  "Parameters": {
    "OUTPUT_BUCKET": "concordqa-report-data",
    "REPORT_SERVICE_TOKEN": "replace_me_with_the_real_report_service_dev_token",
    "REPORT_SERVICE_URL": "https://us-central1-report-service-dev.cloudfunctions.net/api"
  }
}
