{
  "Parameters": {
    "OUTPUT_BUCKET": "concord-staging-report-data",
    "REPORT_SERVICE_TOKEN": "replace_me_with_the_real_report_service_dev_token",
    "REPORT_SERVICE_URL": "https://us-central1-report-service-dev.cloudfunctions.net/api",
    "PORTAL_REPORT_URL": "https://portal-report.concord.org/branch/master/index.html",
    "FIREBASE_APP": "report-service-dev",
    "LOG_ATHENA_DB_NAME": "log_ingester_qa",
    "RESEARCHER_REPORTS_URL": "https://report-server.concordqa.org/reports",
    "USERNAME_HASH_SALT": "replace-this-with-random-salt-bytes"
  }
}
