<.header>
  New Reports
</.header>

<div class="mt-8 flex gap-4 flex-wrap">
   <.link 
    navigate={~p"/new-reports/one"}
    class="text-center rounded px-6 py-10 bg-blue-500 text-white text-xl font-bold hover:bg-blue-700">
      Report One
  </.link>
  <.link 
    navigate={~p"/new-reports/two"}
    class="text-center rounded px-6 py-10 bg-blue-500 text-white text-xl font-bold hover:bg-blue-700">
      Report Two
  </.link>
</div>
