<.flash_group flash={@flash} />

<div class="flex flex-col gap-4 p-4" :if={!@stats_disabled}>
  <div class="flex gap-4" :for={{server, server_stats} <- @stats}>
    <.portal_stats server={server} stats={server_stats} />
  </div>
</div>

<div class="flex gap-4 flex-wrap p-4">
  <.square_link
    navigate={~p"/reports"}
    class="gap-4 bg-orange hover:bg-light-orange hover:text-orange hover:border hover:border-orange"
  >
    All Reports
  </.square_link>

  <.square_link :for={report <- @report_group.children}
    navigate={report.path}
    class="gap-4 bg-orange hover:bg-light-orange hover:text-orange hover:border hover:border-orange"
  >
    <%= report.title %>
    <span :if={report.tbd}>🚧🛠️</span>
  </.square_link>
</div>

<div class="flex gap-4 flex-wrap p-4">
  <%= if @user && @user.portal_is_admin do %>
    <.square_link
      navigate={~p"/reports/all-runs"}
      class="gap-4 bg-orange hover:bg-light-orange hover:text-orange hover:border hover:border-orange"
    >
      All Runs
    </.square_link>
  <% end %>

  <.square_link
    navigate={~p"/reports/runs"}
    class="gap-4 bg-orange hover:bg-light-orange hover:text-orange hover:border hover:border-orange"
  >
    Your Runs
  </.square_link>
</div>

